@import 'styles/vars';

.root {
    &.fadeIn {
        transition: opacity $baseDuration $easeOutQuad;
        opacity: 0;

        &.loaded {
            opacity: 1;
        }
    }
}

.zoomIn {
    transition: transform 2s cubic-bezier(0.39, 0.57, 0.56, 1) 0.25s,
        opacity 1.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    transform: scale(1.05);
    opacity: 0;

    &.loaded {
        transform: scale(1);
        opacity: 1;
    }
}
