@tailwind base;

html {
  scroll-behavior: smooth;
}

button:focus {
  outline: 0px !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  letter-spacing: -0.025em;
}

h3 {
  padding-bottom: 0.5rem;
  letter-spacing: -0.025em;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, transform 1s ease-in-out;
  will-change: opacity, visibility;
}

.back-to-top {
  opacity: 0;
  transform: translateY(0vh);
  visibility: hidden;
  transition: opacity 2s ease-in-out, transform 2s ease-out;
  will-change: opacity, visibility;
}

.back-to-top.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50 dark:bg-gray-50;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
